<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
  "-//Hibernate/Hibernate Configuration DTD//EN"
  "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <!--минимальные настройки-->
    <property name="connection.url">jdbc:postgresql://localhost:5438/db_dmdev_hibernate</property>
    <property name="connection.username">user</property>
    <property name="connection.password">qwerty</property>
    <property name="connection.driver_class">org.postgresql.Driver</property>
    <!--диалект для постгреса 10 и старше-->
    <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQL10Dialect</property>

    <!--Вспомогательно для разработки-->
    <property name="show_sql">true</property>
    <property name="format_sql">true</property>

    <!--Указываем сущности-->
    <mapping class="ru.edu.entity.User"/>
    <mapping class="ru.edu.entity.Company"/>
    <mapping class="ru.edu.entity.Profile"/>
    <mapping class="ru.edu.entity.Chat"/>
    <mapping class="ru.edu.entity.UserChat"/>
    <mapping class="ru.edu.entity.Programmer"/>
    <mapping class="ru.edu.entity.Manager"/>
    <mapping class="ru.edu.entity.Payment"/>
  </session-factory>
</hibernate-configuration>