<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
  "-//Hibernate/Hibernate Configuration DTD//EN"
  "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <!--минимальные настройки-->
    <property name="connection.url">jdbc:postgresql://localhost:5438/db_dmdev_hibernate</property>
    <property name="connection.username">user</property>
    <property name="connection.password">qwerty</property>
    <property name="connection.driver_class">org.postgresql.Driver</property>
    <!--диалект для постгреса 10 и старше-->
    <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQL10Dialect</property>

    <property name="hibernate.hbm2ddl.auto">create</property>

    <!--Second Level Cache-->
    <property name="hibernate.cache.use_second_level_cache">true</property>
    <!--Second Level Cache для обычных запросов-->
    <property name="hibernate.cache.use_query_cache">true</property>
<!--Статистика по кешу. Замедляет приложение - только для develop-->
    <property name="hibernate.generate_statistics">false</property>
    <!--Провайдер для кеша (из библиотеки ehcache)-->
    <property name="hibernate.cache.region.factory_class">org.hibernate.cache.jcache.internal.JCacheRegionFactory</property>
    <!--Путь до настроек регионов (для ehcache)-->
    <property name="hibernate.javax.cache.uri">/ehcache-config.xml</property>

    <!--4 уровня изоляции транзакции: 1,2,3,8-->
    <!--По дефолту 2 READ COMMITTED-->
<!--    <property name="hibernate.connection.isolation">1</property>-->

    <!--Вспомогательно для разработки-->
    <property name="show_sql">true</property>
    <property name="format_sql">true</property>

    <!--Указываем сущности-->
    <mapping class="ru.edu.entity.User"/>
    <mapping class="ru.edu.entity.Company"/>
    <mapping class="ru.edu.entity.Profile"/>
    <mapping class="ru.edu.entity.Chat"/>
    <mapping class="ru.edu.entity.UserChat"/>
    <mapping class="ru.edu.entity.Programmer"/>
    <mapping class="ru.edu.entity.Manager"/>
    <mapping class="ru.edu.entity.Payment"/>
    <!--Ради разнообразия добавил через configuration.addAnnotatedClass(Audit.class);-->
<!--    <mapping class="ru.edu.entity.Audit"/>-->
<!--    <mapping class="ru.edu.entity.Revision"/>-->
  </session-factory>
</hibernate-configuration>